@font-face{
  font-family: "FC Active Regular";
  src:url("/fonts/FC Active Regular.otf")format("opentype"),url("/fonts/FC Active Regular.ttf")
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #222;
}

.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
}
.mybg-dark {
  background: #000 !important;
}

header.masthead {
  position: relative;
  height: 100vh;
  background-color: #343a40;
  background: url("/images/first.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h3 {
    font-size: 4rem;
  }
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.myform-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.btn.btn-light {
  position: absolute;
  background: transparent;
  border: none;
  height: 38px;
  right: 23px;
}

a.btn.btn-default.btn-scroll {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 100%;
}

.big-img img {
  height: 325px;
  object-fit: cover;
}

.container.slider-top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-login {
  width: 138px;
  background: #1fc6d8 !important;
  border: 1px solid #1fc6d8 !important;
}
.btn-login:hover {
  background: #3683a1 !important;
  border: 1px solid #1fc6d8 !important;
}
.mfa-white {
  color: #fff !important;
}

h3.my-heading {
  font-family: "FC Active Regular";
  color: #77ffbb;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}
h3.my-heading2 {
  font-family: 'Kaushan Script', cursive;
  color: #013d13;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

p.myp-slider.text-center {
  color: #fff;
}

.btn-register {
  width: 138px;
  background: #1fc6d8 !important;
  border: 1px solid #1fc6d8 !important;
}

.btn-register:hover {
  background: #3683a1 !important;
  border: 1px solid #1fc6d8 !important;
}

.btn-join {
  background: #1fc6d8 !important;
  border: 1px solid #1fc6d8 !important;
}

.btn-join:hover {
    background: #3683a1 !important;
    border: 1px solid #1fc6d8 !important;
  }



section#about {
  width: 100%;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
}

.btn-circle {
  border-radius: 50%;
}

.my-social-btn {
  background: lightgrey;
}

a.btn.btn-circle.my-social-btn.fb:hover {
  background: #205b9f;
}

a.btn.btn-circle.my-social-btn.twitter:hover {
  background: #00ace3;
}

a.btn.btn-circle.my-social-btn.google:hover {
  background: #ff3921;
}

a.btn.btn-circle.my-social-btn {
  color: #fff;
  height: 40px;
  width: 40px;
}

.inner-section h3 {
  text-transform: uppercase;
  font-weight: bold;
}

span.bg-main {
  color: #008b23;
}
span.bg-main2 {
  color: #00dd6f;
}

hr.my-border {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #008ba3;
  width: 117px;
}

.linear-grid img {
  width: 100%;
  height: 124px;
}

.mybg-events {
  background: url("https://images.pexels.com/photos/167491/pexels-photo-167491.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")
    no-repeat center center fixed;
  background-size: cover;
}

.h-262 {
  height: 262px !important;
}

h3.title-heading.text-center {
  color: #fff;
  font-weight: bold;
}

p.myp.text-center {
  color: #fff;
  font-size: 14px;
  margin-bottom: 3rem;
}

.big-img2 img {
  height: 472px;
  width: 100%;
  object-fit: cover;
}

.my-grid img {
  height: 228px;
  width: 100%;
  object-fit: cover;
}

.text-block {
  min-height: 228px;
  height: auto;
  background: #fff;
  padding: 15px;
}

h5.events-heading {
  font-weight: bold;
  font-size: 17px;
}

p.myp-font {
  font-size: 15px;
}

section#group {
  background: #fff;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none !important;
  border-radius: 0.28571429rem;
}

.card:hover {
  color: #222 !important;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none !important;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff;
}

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.mybg-music {
  background: url("https://images.pexels.com/photos/1267317/pexels-photo-1267317.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")
    no-repeat center center fixed;
  background-size: cover;
}

section#marketplace {
  background: #f7f7f7;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section#marketplace .card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

section#artist {
  background: #fff;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a.link-color {
  color: #008ba3;
  font-weight: bold;
}

/*sidebar navigation*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-right: 15px;
}
#main {
  display: none;
}
#main {
  float: right;
  transition: margin-right 0.5s;
}
a.openNav {
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
}
.sidenav .nav-link {
  font-size: 13px;
  font-weight: bold;
}
.mob-ul {
  list-style-type: none;
  padding-left: 0;
}
.sidenav li {
  padding: 0 3px !important;
  position: relative;
}
.sidenav li a {
  padding: 10px 15px;
  text-transform: uppercase;
}
.sidenav ul li:hover .nav-link {
  color: #008ba3;
}

li.nav-item a:hover {
  background: #008ba3;
  color: #ffffff !important;
}

.floating-arrow {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

li.list-inline-item a {
  color: #fff;
  text-decoration: none;
}

/*-------------------responsive-----------------*/

@media screen and (max-width: 520px) {
  ::placeholder {
    font-size: 10px;
  }
  .scroll-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45px;
  }

  .text-block {
    padding: 15px;
  }
  .linear-grid img {
    width: 100%;
    height: 181px;
  }
  .my-grid img {
    width: 100%;
  }
  .inner-section h3 {
    font-size: 22px;
  }
  .inner-section p {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .btn-login {
    width: 100%;
  }
  .btn-register {
    width: 100%;
  }
}

@media only screen and (min-width: 2560px) {
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  .navbar-toggler {
    display: none !important;
  }
}
@media only screen and (min-width: 1440px) {
  .navbar-toggler {
    display: none !important;
  }
}
@media only screen and (max-width: 1280px) {
  .navbar-toggler {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-toggler {
    display: none !important;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
  .navbar-toggler {
    display: none !important;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (max-width: 320px) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}





