<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!------ Include the above in your HEAD tag ---------->
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/template.css">
</head>

<body>




    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h3 class="my-heading2">KASET<span class="bg-main">SART</span></h3>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars mfa-white"></span>
            </button>

            <div id="main">
                <a href="javascript:void(0)" class="openNav"><span class="fa fa-bars" onclick="openNav()"></span></a>
            </div>



            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <ul class="mob-ul">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>

                    <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Groups</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Music</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Marketplace</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Featured Artists</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Register</a></li>


                </ul>
            </div>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <form class="form-inline my-2 my-lg-0 col-md-7">
                        <input class="myform-control mr-sm-2" type="search" placeholder="find peoples, instruments, bands and more..."
                            aria-label="Search">
                        <button class="btn btn-light"><i class="fa fa-search"></i></button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-link">
                            <a class="btn btn-primary btn-block btn-login" data-toggle="modal" data-target="#sem-login" style="color: white">Login</a>
                        </li>
                        <li class="nav-link">
                            <a class="btn btn-primary btn-block btn-register" data-toggle="modal" data-target="#sem-reg" style="color: white">Register</a>
                        </li>

                    </ul>
                </div>

    </nav>


    <header class="masthead text-white ">

        <div class="container slider-top-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img style="margin-top: 10px; height: 300px;" src="images/kasetsart2.png">
                    <h3 class="my-heading ">จองสนามกีฬา<span class="bg-main2"> เกษตรศาสตร์</span></h3>
                    <p class="myp-slider text-center">Where sports unite and become better together</p>
                    <p class="myp text-center">SHARE YOUR MEMORIES   |   CONNECT WITH OTHERS   |   MAKE NEW FRIENDS</p>
                    <a class="btn btn-primary btn-join" href="#">JOIN THE COMMUNITY</a>

                </div>
                <div class="col-md-12 text-center mt-5">
                    <div class="scroll-down">
                        <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <% include modal %>

    <section class="testimonials" id="gobottom">
        
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="big-img">
                        <img src="images/sport.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="inner-section">
                        <h3>สนามกีฬา</h3>
                        <br>
                        <h5 class="text-justify">สำนักการกีฬาได้จัดบริการสนามกีฬา โดยแบ่งออกเป็น 8 กลุ่มสนาม ดังนี้
                        </h5>
                        <ol>
                            <li>กลุ่มสนามฟุตบอลและกรีฑา และสนามวอลเลย์บอลชายหาด ณ สนามอินทรี จันทรสถิตย์ </li>
                            <li>กลุ่มสนามกีฬาบาสเกตบอล วอลเลย์บอล แบดมินตัน ลอนเทนนิส ดาบสากล และมวยสากลสมัครเล่น
                                และห้องฝึกด้วยน้ำหนัก ณ อาคารโรงยิมเนเซียม </li>
                            <li>กลุ่มสนามกีฬาเทเบิลเทนนิส ดาบไทย และยิงปืน ณ อคารเทพศาสตรสถิตย์
                                (ขณะนี้กำลังดำเนินการรื้อถอนเพื่อสร้างอาคารกิจกรรม) </li>
                            <li>กลุ่มสนามกีฬาคาราเต้ ยูโด และเทควันโด ณ อาคารเอนกประสงค์ </li>
                            <li>กลุ่มสนามกีฬาฮอกกี้ และซอฟท์บอล และศูนย์วิจัยวิทยาศาสตร์การกีฬา ณ สนามธีระสูตะบุตร </li>
                            <li>กลุ่มสนามกีฬารักบี้ บาสเกตบอล และสนามยิงธนู</li>
                            <li>กลุ่มสนามกีฬาเปตอง และตะกร้อ และสนามวอลเลย์บอลกลางแจ้ง </li>
                            <li>สระว่ายน้ำจุฬาภรณวลัยลักษณ์ </li>

                        </ol>


                    </div>
                </div>
            </div>
            <div class="linear-grid">
                <div class="row">
                    <div class="col-sm-6 col-md-3 mb-2">
                        <img class="test" src="images/1.jpg" class="img-thumbnail">
                        <h6 style="text-align: center">สนามอินทรีจันทรสถิตย์</h6>
                    </div>
                    <div class=" col-sm-6 col-md-3 mb-2">
                        <img class="test" src="images/tennis.jpg" class="img-thumbnail">
                        <h6 style="text-align: center">สนามเทนนิส</h6>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-2">
                        <img class="test" src="images/bas.jpg" class="img-thumbnail">
                        <h6 style="text-align: center">สนามบาสเกตบอล(ในร่ม)</h6>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-2">
                        <img class="test" src="images/pool.jpg" class="img-thumbnail">
                        <h6 style="text-align: center">สระจุฬาภรณวลัยลักษณ์</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">@ Project_Kar&Tae</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $( window ).scroll( function ()
        {


            var topWindow = $( window ).scrollTop();
            var topWindow = topWindow * 1.5;
            var windowHeight = $( window ).height();
            var position = topWindow / windowHeight;
            position = 1 - position;

            $( '#bottom' ).css( 'opacity', position );

        } );

        function openNav()
        {
            document.getElementById( "mySidenav" ).style.width = "250px";
            document.getElementById( "main" ).style.display = "0";
            document.body.style.backgroundColor = "white";
        }

        function closeNav()
        {
            document.getElementById( "mySidenav" ).style.width = "0";
            document.getElementById( "main" ).style.marginRight = "0";
            document.body.style.backgroundColor = "white";
        }




        $( window ).on( "scroll", function ()
        {
            if ( $( this ).scrollTop() > 10 )
            {
                $( "nav.navbar" ).addClass( "mybg-dark" );
                $( "nav.navbar" ).addClass( "navbar-shrink" );


            } else
            {
                $( "nav.navbar" ).removeClass( "mybg-dark" );
                $( "nav.navbar" ).removeClass( "navbar-shrink" );

            }



        } );

        $( function ()
        {
            
            $( '#bottom' ).click( function ()
            {
                if ( location.pathname.replace( /^\//, '' ) == this.pathname.replace( /^\//, '' ) && location.hostname == this.hostname )
                {
                    var target = $( this.hash );
                    target = target.length ? target : $( '[name=' + this.hash.slice( 1 ) + ']' );
                    if ( target.length )
                    {
                        $( 'html,body' ).animate( {
                            scrollTop: target.offset().top
                        }, 500 );
                        return false;
                    }
                }
            } );
        } );


    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</body>

</html>